<%= form_for(@mappool) do |f| %>
  <% if @mappool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mappool.errors.count, "error") %> prohibited this mappool from being saved:</h2>

      <ul>
      <% @mappool.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
