<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @participant.player_id %>
</p>

<p>
  <b>Round:</b>
  <%= @participant.round_id %>
</p>


<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
