%br
%ul{ :class => "navigation groupmatches" }
	%a{ :href => match_path(@matches[0]) }
		%li
			%h2 Match 1
			%p Best of Three
	%a{ :href => match_path(@matches[1]) }
		%li
			%h2 Match 2
			%p Best of Three
	%a{ :href => match_path(@matches[2]) }
		%li
			%h2 Winners
			%p Best of Three
	%a{ :href => match_path(@matches[3]) }
		%li
			%h2 Losers
			%p Best of Three
	%a{ :href => match_path(@matches[4]) }
		%li
			%h2 Tiebreak
			%p Best of Three
%br
%br