%img.banner{ :src => @tournament.banner }

/ Race/Team Stat Overview
/ %h1.pagetitle
/ 	%span Player Stats
/ .row
/ 	.span6
/ 		#races
/ 	.span6
/ 		#teams
/ = race_stats
/ = team_stats

%h1.pagetitle
	%span Map Pool

= stylesheet_link_tag "pool#{@maps.count}"
.pool
	%ul
		- @maps.each do |map|
			%li
				.map_name
					#{map.name}
				%span
					%img.maps{ :src => "/assets/maps/#{map.name}.png" }