%h1.pagetitle
	%span #{@tournament.year} #{@tournament.league} Season #{@tournament.season}

%br
.row
	.span10
		%img.banner{ :src => @tournament.banner }
	.span2
		%a{ :class => "navbtn btn btn-warning", :href => overview_tournament_path(@tournament) }
			%p OVERVIEW
		%a{ :class => "navbtn btn btn-warning", :href => stats_tournament_path(@tournament) }
			%p STATS
		%a{ :class => "navbtn btn btn-warning", :href => summary_tournament_path(@tournament) }
			%p SUMMARY

%br
.row
	.span12
		%ul.navigation
			%a{ :href => round_path(@rounds[0]) }
				%li
					%h2 ROUND OF 32
					%p Group Stages
			%a{ :href => round_path(@rounds[1]) }
				%li
					%h2 ROUND OF 16
					%p Group Stages
			%a{ :href => round_path(@rounds[2]) }
				%li
					%h2 ROUND OF 8
					%p Quarter-Finals
			%a{ :href => round_path(@rounds[3]) }
				%li
					%h2 ROUND OF 4
					%p Semi-Finals
			%a{ :href => round_path(@rounds[4]) }
				%li
					%h2 ROUND OF 2
					%p Finals