<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @tournament.year %>
</p>

<p>
  <b>Type:</b>
  <%= @tournament.type %>
</p>

<p>
  <b>Season:</b>
  <%= @tournament.season %>
</p>


<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
