#navbar
	.navbar.navbar-fixed-top
		.navbar-inner
			.container
				%a.btn.btn-navbar{ "data-target" => ".nav-collapse", "data-toggle" => "collapse" }
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				%a.brand{ :href => root_path }
					GSL Tracker
				.nav-collapse
					%ul.nav.pull-right
						%li
							%a{ :href => '#' }
								Link
						%li
							%a{ :href => '#' }
								Link