%h1.pagetitle
	%span About GSL Tracker

.row
	%dl.span12
		%dt
			%h3 Why GSL Tracker?
		%dd The motivation behind GSL Tracker is to create a simply, intuitive, easy-to-use, greatly visualized bracket viewer to help both seasoned GSL watchers and novice GSL enthusiasts keep up with daily happenings in the world of the GSL.
		%dt
			%h3 This site seems (pretty darn) cool, I guess. More information?
		%dd This web app was written in Ruby and deployed as Ruby on Rails with Heroku. Styling provided by Twitter's Bootstrap and a custom Bootswatch theme, with some custom tweaks. Effects written in HTML5 with CSS3.
		%dt
			%h3 Where does the data come from?
		%dd Tournament data is generated manually (as of now) based on data from Liquipedia. Of course, actual tournament results and other GSL related media (pictures, links, etc.) are from Gomtv.
		%dt
			%h3 Who helped out on this project?
		%dd The fantastic resources on Reddit (Ruby, Rails subreddits), the fine folks at StackOverflow, and great freelance advice from Isotope Dev all contributed to this project.