%h1.pagetitle
	%span Welcome to GSL Tracker!

.accordian
	%ul
		- @homepage.each do |pic,title|
			%li
				.image_title
					%a{ :href => "http://www.gomtv.net" }
						#{title}
				%a{ :href => "http://www.gomtv.net" }
					%img{ :src => "#{pic}" }

.row
	%h6.pagedetails Keep up with recent GSL/GSTL news!