<p id="notice"><%= notice %></p>

<p>
  <b>Map:</b>
  <%= @game.map_id %>
</p>

<p>
  <b>Winner:</b>
  <%= @game.winner_id %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
