%ul{ :class => "navigation bo#{@bestof}" }
	- count = 0
	- while count < @games.count
		%a{ :href => game_path(@games[count]) }
			%li
				%h2 Game #{count+1}
				%p 
		- count += 1
	- while count < @bestof
		%a{ :href => game_path(@games[@games.count-1], :notice => "Game #{count+1} was not played. To prevent spoilers, you have been redirected to the last played game in the match.") }
			%li
				%h2 Game #{count+1}
				%p 
		- count += 1