<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @match.player_id %>
</p>

<p>
  <b>Game:</b>
  <%= @match.game_id %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
