/* Miscellaneous Styling for Pages */
.pagetitle {
	border-bottom: 1px solid #ff6600;
}
.pagetitle span {
	display: inline-block;
	border-bottom: 2px solid #ECBB13;
}
.pagedetails {
	text-align: center;
}
.banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.navbtn {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: -25px;
}
.navbtn p {
	font-family: 'Helvetica';
	font-weight: bold;
	font-style: italic;
}
.players {
	margin-top: 15px;
	margin-bottom: 15px;
}
.result {
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Styling for Error Pages */

.dialog {
	font-family: 'Raleway';
	width: 50%;
	padding: 1em 5em;
	margin: 5em auto 0 auto;
	border-top: 1px solid #ecbb13;
	border-left: 1px solid #ecbb13;
	border-bottom: 1px solid #ff6600;
	border-right: 1px solid #ff6600;
}
.dialog h1 {
	font-size: 35px;
	text-align: right;
}
.dialog h3 {
	font-size: 15px;
	text-align: right;
}
.dialog p {
	padding-top: 2em;
	text-align: right;
}
.dialog p:hover {
	color: #ff6600;
}
.homebtn {
	display: block;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	padding: 30px 30px;
	font-family: 'Raleway';
	font-size: 40px;
}

/* Styling for Tournament Navigation(s) */
.navigation {
	margin-top: 15px;
}
.navigation li {
	width: 120px;
	border-left: 5px solid #f60;
	float: left;
	cursor: pointer;
	list-style-type: none;
	padding: 10px 50px 10px 15px;

	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}
.bo7 li {
	width: 67px;
	padding: 10px 50px 10px 15px;
}
.groupmatches li, .bo5 li {
	width: 120px;
	padding: 10px 50px 10px 15px;
}
.RO32 li, .RO16 li, .RO8 li {
	width: 166px;
	padding: 10px 50px 10px 15px;
}
.bo3 li {
	width: 243px;
	padding: 10px 50px 10px 15px;
}
.RO4 li {
	width: 398px;
	padding: 10px 50px 10px 15px;
}
.RO2 li {
	width: 860px;
	padding: 10px 50px 10px 15px;
}
.navigation li a {
	text-decoration: none;
}
.navigation li h2 {
	font-family: georgia;
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
	margin-bottom: 5px;
	line-height: 10px;
}
.navigation li p {
	font-size: 11px;
	color: #fff;
	
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
}
.navigation li:hover {
	background: #f60;
	border-left: 5px solid #fff;
}
.navigation li:hover h2 {
	color: #222;
	font-weight: bold;
}
.navigation li:hover p {
	color: #222;
}

/*Accordian*/
/*
Width of image = 640px
total images = 6
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*5 = 840px;
default width = 840/6 = 140;
*/
.accordian {
	width: 845px; height: 360px;
	overflow: hidden;
	/*Time for some styling*/
	margin: 25px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}
/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}
.accordian li {
	position: relative;
	display: block;
	width: 140px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}
/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}
.accordian ul {
	margin: 0px;
}
.accordian li img {
	max-width: 640px;
	display: block;
}
/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
	width: 640px;	
}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}